@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
.sides {
  background-image: url(/img/triangle-logo-template-137738755.webp);
  background-position: -100px;
}