@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
body {
  background-image: url(/img/depositphotos_614853412-stock-illustration-letter-logo-monogram-logo-design.jpg);
  background-size: cover;
  background-position: ;
}
.sides {
  background-image: url(/img/triangle-logo-template-137738755.webp);
  background-position: -100px;
}